html {
    height: 100%;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #777;
    background: url(../img/bg_body.gif) repeat;
    height: 100%;
}

#wrapper {
    min-height: 100% ;
    background-color: #FFFFFF;
    margin: 10px auto;
    position: relative;
    padding-bottom: 85px;
}

#banner {
    height: 145px;
    background: url(../img/banner2.jpg);
}

#banner_left {
    float: left;
    padding: 38px 20px 0 20px;
}

#banner_left h1 {
    color: #000066;
    font-size: 173%;
    padding: 0 0 0 140px;
    margin: 0;
    line-height: 1.4em;
}

h2 {
    font-size: 100%;
    color: #900;
    padding: 0;
    margin: 20px;
}

h4 {
    color: #900;
    padding: 0;
}

#banner_left h2 {
    color: #003399;
    padding: 0 0 0 141px;
    margin: 0 0 1px;
    line-height: 1em;
}

#contactInfo {
    padding: 40px 23px 0 0;
    float: right;
    width: 416px;
    font-size: 13px;
}

#cont {
    float: left;
    text-align: right;
    width: 180px;
    color: #ed1d24;
    font-weight: bold;
    line-height: 16px;
}

#phone {
    font-size: 18px;
    line-height: 24px;
}

#skype {
    font-size: 14px;
    line-height: 16px;
}

#address {
    float: right;
    width: 190px;
    color: #003399;
}

#horizontal {
    height: 37px;
    text-align: left;
    padding: 0 22px;
    background: url(../img/menu_bg2.jpg) no-repeat 0;
}

#nav {
    font-weight: bold;
    margin: 10px 0;
    padding: 0;
    line-height: 0.8em;

}

#nav li {
    display: inline;
    margin: 0;
    padding: 0 30px 0 17px;
    line-height: 0.8em;
    list-style-type: none;
    background: url(../img/menu_marker.gif) no-repeat 0;
}

.navbar a{
    text-decoration: none;

}

#nav a {
    top: -1px;
    text-decoration: none;
}

#nav a:link,
#nav a:visited {
    color: #fff;
    background-color: transparent;
}

#nav a:hover,
#nav li:hover {
    color: #ff5b5f;
}

#rightcol {
    font-size: 90%;
    text-align: center;
    margin: 15px 0;
    padding: 0 15px;
    border-left: #BFBFBF 1px dashed;

}

#rightcol ul {
    font-weight: bold;
    margin: 0 0 10px 10px;
    padding: 5px 0 0 5px;
    border-top: #bbb 1px solid;
    text-decoration: none;
    list-style-type: square;
}

#rightcol li {
    padding: 0 0 5px 10px;
    margin: 0 0 5px 0;
    border-bottom: #bbb 1px solid;
    text-decoration: none;
}

#rightcol p {
    margin-left: 0;
    margin-right: 0;

}

#rightcol p.text {
    font-size: 80%;
    padding: 0;
    margin-bottom: 20px;
}

.devider {
    margin: 10px 0;
    border: 0;
    height: 1px;
    width: 100%;
    background: url(../img/right_delim.gif);
}


strong {
    color: #039;
}


a {
    color: #0000FF;
    text-decoration: underline;
}

a:visited {
    color: #777777;
}

a:active,
a:hover {
    color: #999;

}

footer {
    position: absolute;
    width: 100%;
    height: 85px;
    background: url(../img/footer2.jpg) no-repeat;
}

footer p {
    font-size: 80%;
    color: #fff;
    text-align: center;
    padding-top: 16px;
}

/* #####################                PRICE TABLICA                     ##############################*/



th.price {
    text-align: center;
}

#price .description {
    padding: 0 0 13px;
    background-color: silver;
    color: #182c3b;
}

#price ul.tab-list {
    margin: 0;
}

#price ul.tab-list li {
    background: none;
    padding: 0;
}

#price ul.tab-list ._1 {
    width: 119px;
}

#price ul.tab-list ._2 {
    width: 162px;
}

#price ul.tab-list ._3 {
    width: 162px;
}

#price div.open-tab {
    border-bottom: none;
}

#price div.tabs {
    background: no-repeat bottom center;
    padding-bottom: 46px;
    border-bottom: 1px solid #dedcdc;
}

#price-table {
    margin: 0 0 40px;
    border-collapse: collapse;
    border: 1px solid #dedcdc;
}

#price-table td,
#price-table th {
    border-collapse: collapse;
    border: 1px solid #C0C0C0;
    font-size: small;
}

#price-table th {
    height: 20px;
    color: #393939;
    background-color: #E0E0E0;
    vertical-align: middle;
}

#price-table .number {
    width: 11px;
}

#price-table .price {
    width: 103px;
}

#price-table .count {
    width: 58px;
}

#price-table th.number,
#price-table th.descr {
    padding-left: 10px;
    text-align: left;
}

#price-table td.number,
#price-table td.price,
#price-table td.count {
    text-align: center;
}

#price-table td.price,
#price-table td.count {
    color: #24518a;
}

#price-table td {
    vertical-align: central;
    padding: 2px 5px;

}

#price-table a.title {
    display: inline-block;
    margin: 0 0 2px;
}

#price-table span.title {
    display: inline-block;
    margin: 0 0 2px;
    color: #646e76;
}

#price-table td.count .total {
    display: inline-block;
    padding: 1px 5px 2px;
    word-spacing: 10px;
    background: #f6f6f8;
    border: 0 solid #dedcdc;
}

#price-table td.count input.pricelist_count {
    background: none;
    border: none;
    width: 17px;
    float: left;
    color: inherit;
}

#price ul.note-list {
    margin: 0 0 38px;
}

.fontLarge {
    font-size: x-large;
}

.enter{
    color: #0000FF;
    font-style: italic;
}

.server {
    color: #FF0033;
}

.dclink {
    color: #2A166F;
}

.cobra{
    color: #82C302;
}

.left {
    text-align: left;
}

.delivery {
    width: 100%;
    margin-bottom: 10px;
}

.font80 {
    font-size: 80%;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (min-width : 992px) {

    #content ul {
        margin: 0 30px;
    }

    ul {
        margin: 0 25px;
    }

    h4 {
        color: #900;
        padding: 0;
        margin: 20px;
    }

    #price-table {
        margin: 0 15px 0 15px;
    }
}

@media (max-width: 768px) {
    .navbar .navbar-nav > li > a {
        border-right: 0;
        border-bottom: 1px solid rgba(69, 74, 84, .4);

    }
}